<h1>Welcome! </h1>

<p class="lead">
I'm working on learning the basics of Ruby on Rails and you can follow my progress as I build this application!
</p>
	<div> 
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIqu17vgZUiw7nkh4Sj4D8sTS_BGwEGSWA9syxsFlwkIm3OaX3" class="img-circle" height="140" width= "140"> 
	</div>	

<p>
	If you want to try the class for yourself <%=link_to "check it out!", "http://onemonthrails" %>

</p>

<p> 
	If you want to know more about me, you can check out my <%=link_to "website", "http://reidpearson.com" %> or <%=link_to "follow me on Twitter.", "http://twitter.com/reidpearson" %> 
</p>

