<h1>Welcome! </h1>
<h5 style= "color:gray", font-size= "20px" > <i> This is Reid's test application <i></h5> 
<p>
	Reid is currently part in <%=link_to "Mattan Griffel's", "http://onemonthrails" %> Class to learn <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month. This is his sample application
</p>

<p> 
	If you want to know more about Reid, you can check out his <%=link_to "website", "http://reidpearson.com" %> or <%=link_to "follow him on Twitter", "http://twitter.com/reidpearson" %> 
</p>

