
/*$basefontfamily: Oxygen;
@import url(http://fonts.gootleapis.com/css?family=Oxygen);*/

$navbarBackgroundHighlight: white;
$navbarBackground: gray;
$btnPrimaryBackground: blue;

@import 'bootstrap';

body {
		padding-top: 60px;
		padding-right: 60px;
		padding-left: 60px
		}


@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	
	a{ 
		color: gray;
	}
}